{{#partial "content"}}
<div id="playerList"> </div>
<button id="readyBtn" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300">
    <i class="material-icons">play_circle_filled</i>
</button>

<table>
{{# chessSquares }}
    <tr>
    {{# pieceDtos }}
        <td width="40" height="40"> <img src="{{ imagePath }}" style="width:40; height:40;"/> </td>
    {{/ pieceDtos }}
    </tr>
{{/ chessSquares }}
</table>

<script src="/webjars/jquery/dist/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/socket.js"></script>
{{/partial}}

{{> home }}