{{#partial "content"}}
<div id="playerList"> </div>
<button id="readyBtn" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300">
    <i class="material-icons">play_circle_filled</i>
</button>

<div class="content" data-room-id="{{room.id}}" data-member="{{member}}">
    <ul class="chat_box">
    </ul>
    <input name="message">
    <button class="send">보내기</button>
</div>
<script src="/webjars/jquery/dist/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/socket.js"></script>
{{/partial}}

{{> home }}