{{#partial "content"}}
<div class="issues__posts mdl-grid">
    <div class="issues-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="height:80px;">
            <h2 class="mdl-card__title-text mdl-color-text--grey-800">Issues</h2>
        </div>
        <form action="/games" method="POST">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
                <i class="material-icons">add</i>
            </button>
        </form>


        <div class="mdl-card__supporting-text">
            <ul class="issue-list mdl-list">
                {{# gameRooms }}
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <a href="/games/join/{{id}}">
                            <strong>{{ name }}</strong>
                        </a>
                    </span>
                </li>
                {{/ gameRooms }}
            </ul>
        </div>

    </div>
</div>

<ul>
    <li></li>
</ul>

<table>
    <tr>
        <td> <img src="/img/pieces/white_triangleKnight.png" id="03" onclick="spin()"/> </td>
    </tr>
</table>
{{/partial}}

{{> home }}

